{% extends "base.html" %}

{% load static %}


{% block title %}{{rom.name}}{% endblock %}
{% block nav_rom_class %}is-active{% endblock %}


{% block content %}
<div class="rom-overview">
	<div class="columns">
		<div class="column">
			<div class="box">
				<h1 class="title is-2">{{rom.name}}</h1>

				{% if rom.user.id == user.id %}
				<div class="columns less-margin">
					<div class="column">
						<a href="{% url 'romupdate' id=rom.id %}"><i class="fa fa-pencil"></i> Rom bearbeiten</a>
					</div>
				</div>
				{% endif %}
				<div class="columns less-margin">
					<div class="column">
						{% for tag in rom.tags.all %}
						<a href="{% url 'romlist' tag=tag.slug %}"><span class="tag is-medium categorie is-primary">{{tag.name}}</span></a>
						{% endfor %}
						<br/><br/>
						{{rom.description|linebreaks}}
						<br/><br/>
						<div class="tabs is-boxed">
						  <ul>
						    <li class="is-active" data-for-id="wifi-tab">
						      <a>
						        <span class="icon is-small"><i class="fa fa-wifi"></i></span>
						        <span>Flashen per Wifi</span>
						      </a>
						    </li>
						    <li data-for-id="manual-tab">
						      <a>
						        <span class="icon is-small"><i class="fa fa-usb"></i></span>
						        <span>Manuell flashen</span>
						      </a>
						    </li>
						</ul>
						</div>
						<div id="wifi-tab" class="tab-body">
							<ol>
								<li>Versetze das Badge in Bootloadermodus</li>
								<li>
									Wähle die Rom-ID:
									<h3 class="title is-3">{{rom.id}}</h3>
								</li>
								<li>Wähle den Ziel-Slot</li>
								<li>Warte auf den Neustart</li>
							</ol>
						</div>
						<div id="manual-tab" class="tab-body">
							Manuell: Hier könnte eine Anleitung stehen.
						</div>

					</div>
					<div class="column  is-one-third">
						<img src="{% get_media_prefix %}/{{rom.cover.large}}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#manual-tab").hide();

	$(".tabs li").click(function() {
		$(".tabs .is-active").removeClass("is-active");
		$(this).addClass("is-active");

		$(".tab-body").hide();
		active_tab = $(this).attr("data-for-id");
		$("#" + active_tab).show();
	});
});
</script>
{% endblock %}
