{% extends "base.html" %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
<div class="rom-overview">
	<div class="columns">
		<div class="column">
			<div class="box">
				<h1 class="title is-1">Passwort zurücksetzen</h1>
				{% if user.is_authenticated %}
					Du bist doch schon eingeloggt!?<br/>
					Und hast trotzdem dein Passwort vergessen?<br/>
					Von mir aus, dann <a href="{% url 'logout' %}">log dich erstm aus</a>.
				{% else %}
					{% if form.non_field_errors %}
						<div class="message is-danger">
							<div class="message-header">
								<strong>Nope!</strong>
							</div>
							<div class="message-body">
								{{ form.non_field_errors }}
							</div>
						</div>
					{% endif %}
					<form method="post">
						{% csrf_token %}

						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label" for="{{form.email.id_for_label}}">{{form.email.label}}</label>
							</div>
							<div class="field-body">
								<div class="field is-narrow">
									<div class="control has-icons-left has-icons-right">
										<input class="input {% if form.email.errors %}is-danger{% endif %} is-primary"
										type="text" name="{{form.email.html_name}}"
										 id="{{form.email.id_for_label}}" value="{{form.email.value|default_if_none:''}}" />
										<span class="icon is-small is-left">
											<i class="fa fa-envelope"></i>
										</span>
										<span class="icon is-small is-right">
											{% if form.email.errors %}
											<i class="fa fa-warning"></i>
											{% endif %}
										</span>
									</div>
									<p class="help is-danger">
										{{form.email.errors.as_text}}
									</p>
								</div>
							</div>
						</div>

						<div class="field is-grouped">
							<p class="control">
								<button class="button is-primary">Zurücksetzen</button>
							</p>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
