{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Gulaschromstore :: {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/gulasch_bulma.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "fontawsome/css/font-awesome.min.css" %}">

		<script src="{% static "jquery-3.2.1.slim.min.js" %}"></script>
	</head>

	<body>
		<nav class="nav has-shadow">
			<div class="container">
				<div class="nav-left">
					<a class="nav-item">
						<img src="{% static "images/logo.png" %}"/>
					</a>
					<a class="nav-item is-tab is-hidden-mobile {% block nav_rom_class %}{% endblock %}"
						href="">
						Roms
					</a>
					{% if user.is_authenticated %}
					<a class="nav-item is-tab is-hidden-mobile {% block nav_rom_upload_class %}{% endblock %}"
						href="">
						Rom Hochladen
					</a>
					{% endif %}
				</div>
				<span class="nav-toggle">
					<span></span>
				<span></span>
				<span></span>
				</span>

				<div class="nav-right nav-menu">
					<a class="nav-item is-tab is-hidden-tablet {% block nav_mobile_rom_class %}{% endblock %}"
						href="">
						Roms
					</a>
					{% if user.is_authenticated %}
					<a class="nav-item is-tab is-hidden-tablet {% block nav_mobile_rom_upload_class %}{% endblock %}"
						href="">
						Rom Hochladen
					</a>
					{% endif %}

					{% if not user.is_authenticated %}
					<a class="nav-item is-tab {% block nav_signup_class %}{% endblock %}"
						href="{% url 'signup' %}">
						Registrieren
					</a>
					<a class="nav-item is-tab {% block nav_login_class %}{% endblock %}"
						href="{% url 'login' %}">
						Login
					</a>
					{% else %}
					<a class="nav-item is-tab {% block nav_profile_class %}{% endblock %}"
						href="{% url 'user_update' user_id=user.pk %}">
						Profil
					</a>
					<a class="nav-item is-tab"
						href="{% url 'logout' %}">
						Logout
					</a>
					{% endif %}
				</div>
			</div>
		</nav>

        {% block content %}

        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <strong>Gulasch R0MSTØRE</strong> by Sebastian 2017
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            $('.nav-toggle').on('click', function(event) {
                $('.nav-toggle').toggleClass('is-active');
                $('.nav-menu').toggleClass('is-active');
            });
        </script>
    </body>
</html>
