<form {% if form_enctype %}enctype="{{form_enctype}}"{% endif %} method="post" class="pure-form pure-form-aligned">
    {% csrf_token %}

    {% for field in form %}
        <div class="field is-danger">
            <label class="label" for="{{field.name}}">{{field.label}}</label>
            <p class="control">
                {{ field }}
            </p>
            <p class="help is-danger">
                {{ field.errors.as_text}}
            </p>
        </div>
    {% endfor %}
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary">{{button_text}}</button>
      </p>
    </fieldset>
</form>
